<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <style>
        .progress {
            height: 2rem;
            font-size: 1.5rem;
            display: none;
            /* margin-top: 20px; */
        }

        body {
            padding: 0 30px 0 30px;

        }

        button {
            margin-top: 20px;

        }

        .alert-secondary {
            margin-top: 1px;
        }

        #exampleFormControlFile1 {
            display: none;
        }

        #upload {
            width: 100px;
            height: 100px;
        }

        #add {
            font-size: 12px;
            margin-top: -5px;
        }


        #exampleModal{
            margin-top: 300px;
        }

        .ban{
            width: 20px;
            height: 20px;
            margin-top: -3px;
        }
    </style>



    <title>文件上传</title>
</head>

<body>

    <div class="alert alert-secondary" role="alert">
        欢迎使用种子上传系统
    </div>

    <!-- 添加图片按钮 -->
    <form>
        <div class="form-group">
            <label for="exampleFormControlFile1">
                <img src="/upload.png" id="upload" alt="">
            </label>
            <p id="add">点击上方图标添加图片</p>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
    </form>


    <button type="button" class="btn btn-warning"><img src="/fire.png" alt="" class="ban">点击进入浏览页(<img src="/18.png" alt="" class="ban"><img src="/026-禁止.png" alt="" class="ban">)</button>

    <!-- 进度条 -->
    <div class="progress">
        <div class="progress-bar progress-bar-striped " role="progressbar" aria-valuenow="75" aria-valuemin="0"
            aria-valuemax="100" style="width: 90%">10</div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">提示</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    上传成功
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

</body>

<!-- 引用js -->

<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>


<script>
    //入口函数
    $(function () {


        $('#exampleFormControlFile1').on('change', function () {

            //得到文件
            // console.dir(this.files[0]);

            let img = this.files[0];

            let fd = new FormData();

            fd.append('imgSend', img);

            // console.log(fd.get('imgSend'))
            //ajax post请求
            $.post({
                url: '/addPic',
                data: fd,

                processData: false,
                contentType: false,

                success: function (res) {

                    if (res.code == 200) {

                        // console.log(res);

                        $('#exampleModal').modal();

                    }
                },

                //要在jq里面给xhr注册事件，jq需要我们提供一个xhr对象
                xhr: function () {
                    let xhr = new XMLHttpRequest();

                    // 给xhr注册process事件
                    xhr.upload.onprogress = function (e) {

                        let load = e.loaded;
                        let total = e.total;
                        // console.log(Math.floor((load/total)*100));

                        //得到进度
                        let current = Math.floor((load / total) * 100);

                        //进度条完成
                        $('.progress-bar-striped').css('width', `${current}%`);
                        $('.progress-bar-striped').html(`${current}%`);
                    }

                    return xhr;
                },
                //事件
                beforeSend: function () {
                    $('.progress-bar-striped').toggleClass('progress-bar-animated');
                    $('.progress').toggle('display', '');
                }




            })
        })


        //给关闭注册一个事件
        
        $('.btn-secondary').on('click',function(){

            //影藏进度条
            $('.progress').css('display', 'none');

            //影藏模态框
            $('#exampleModal').modal('hide');

            location.reload();   //为什么不能重复操作，必须要reload呢？

        })
     

        //js跳转
        $('.btn-warning').on('click',function(){
            console.log(132);
            location.href='/show';
        })



    })
</script>

</html>