<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <style>
        .progress{
            height: 2rem;
            font-size: 1.75rem;
            display: none;
        }
    </style>



    <title>文件上传</title>
</head>

<body>

    <p>hello world</p>

    <div class="progress">
        <div class="progress-bar progress-bar-striped " role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%">10</div>
      </div>


    <button></button>
</body>

<!-- 引用js -->

<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>


<script>
    //入口函数
    $(function () {

        //注册事件
        $('button').on('click',function(){
            $('.progress-bar-striped').toggleClass('progress-bar-animated');
            $('.progress').toggle('display','');
        })


    })
</script>

</html>